.wrapper {
  position: relative;
  height: 100%;
  padding: 5px;
  background: rgba(0,0,0,0.1);
}
.request-entry:last-child{
  margin-bottom: 0px
}
.request-entry .panel-heading {
  padding: 5px;
}
.request-entry .request-data-area {
  padding: 0 5px 5px 5px;
}